*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    height: 100vh;
    background-image: url(scarletwitch-doctor-strange-in-the-multiverse-of-madness-jd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav a{
    text-decoration: none;
    list-style-type: none;
    padding: 20px;
    font-size: 1.5em;
    color: white;
}

article{
    margin-top: 35vh;
    
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.wanda{
    

}

.texto p{
    color: rgba(255, 255, 255, 0.77);
    text-align: center;
    font-size: 2.7em;
    letter-spacing: 10px;
    
}



.section-2{
    margin-top: 35vh;
    background-color: rgba(0, 0, 0, 0.425);
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(wp9669598.jpg);
    transition: 300ms;
    filter: brightness(0.25) saturate(0) blur(3px);
    z-index: 1 !important;
    
}

.section-2:hover{
    transition: 300ms;
    filter: brightness(1) saturate(1) blur(0);
    opacity: 1;

}

.img1{
    
}

div p{
    text-align: center;
    width:700px;    
    padding: 20px;
    color: rgba(255, 255, 255, 0.755);
    font-size: 1.3em;
}

.section-3{
    margin-top: 35vh;
    margin-bottom: 25vh;
    
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.section-3 div p{
    color: rgba(255, 255, 255, 0.77);
    display: block;
    margin: 0px;
    padding: 5px;
    font-size: 4em;
}

footer{
    height: 50px;
    
    background-color: black;
}

footer ul{
    margin: 20px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    

}

footer ul li{
    margin: 15px;
    
}

footer ul li a{    
    color: white;
    text-decoration: none;    
    
}

a:hover{
    padding: 10px;
    background-color: tomato;
    border-radius: 10px;
    transition: 1s;
}

